* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin: 87px 120px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #3a3a3a;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 34px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
}

#navbar .nav-item .nav-menu img {
  width: 19px;
  height: 19px;
  cursor: pointer;
}

#section-1 {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: space-between;
  margin: 80px 120px;
}

#section-1 .sec-1-text {
  width: 582px;
}

#section-1 .sec-1-text h2 {
  font-size: 52px;
  font-weight: bold;
  color: #3a3a3a;
  line-height: 70px;
}

#section-1 .sec-1-text p {
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 16px 0 16px 0;
}

#section-1 .sec-1-text button {
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #e02c6d;
  border: none;
  border-radius: 41px;
  padding: 10px 24px;
  cursor: pointer;
}

.market-container .markets img{
  margin: 60px 60px 60px 60px;
  justify-content: space-between;
 
}

#section-2 .card {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  background-color: #b3f9ce;
}

.card img{
  width: 300px;
  margin: 17px 14px 16px 14px;
}

.card h3{
  margin: 16px 14px 6px;
  font-size: 28px;
}

/* div p,h4,i {
  margin: 16px 150px 14px 6px;
  font-size: 28px;
} */